/*--------- @import ---------*/

@import url(reset.css);

/* --------- Fonts --------- */
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap);


@import url(https://fonts.googleapis.com/css2?family=Aboreto&display=swap);

@font-face {
    font-family: 'YouTube Sans';
    src: url(../fonts/YouTubeSansLight48pt-Regular.woff2) format(woff2),
        url(../fonts/YouTubeSansLight48pt-Regular.woff) format(woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*--------- Styles ---------*/

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.header__block {
    background-color: wheat;
    height: 55px;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
}

.first__text{
    background-color: cornflowerblue;
    height: 460px;
}

.first__paragraph{
    font-family: 'Youtube Sans';
    font-size: 30px;
    text-align: center;
}

.second__text{
    background-color: darkmagenta;
    height: 460px;
}

.second__paragraph{
    font-family:'Aboreto';
    font-size: 24.7px;
    text-align: center;
}

.cellar__text{
    background-color: goldenrod;
    height: 100px;
}

.cellar__title{
    font-family: 'Bahnschrift';
    font-size: 30px;
    text-align: center;
    padding: 35px;
}
