@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body{
    font-family: 'Poppins', sans-serif;
    color: #6c757d;
	font-size: 14px;
	font-weight: 300;
}

[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.article{
    padding-top: 80px;
    padding-bottom: 80px;
}

.article__container {
}

.article__text-block {
    max-width: 816px;
    margin: 0 auto 80px;
}

.article__text-block p{
    line-height: 1.78; /* 25/14 */
    margin-bottom: 30px;
}

.article__title {
    color: #212529;
    font-size: 25px;
    line-height: 1.6; /* 40/25 */
    margin-bottom: 40px;
    font-weight: 700;
    max-width: 605px;

}
.first-image {
    max-width: 100%;
    margin-bottom: 80px;
}
.images {
    font-size: 0px;
    margin-bottom: 80px;
}

.image-1 {
    margin-right: 20px;
}
.image-2 {
}

.article__second-page-button{
    max-width: 300px;
    margin: 0 auto;
}

.second-page-button {
    background-color: #212529;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    width: 250px;
    height: 50px;
}

.wide-image {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}